@import "./../../../styles/constants.scss";

.note {
  width: 100%;
  border-bottom: 1px solid $note-border;
  cursor: pointer;
  padding: 10px 15px;
  min-height: 68px;
  &:hover {
    background: $note-background;
    border-radius: 5px;
  }
  &_active {
    background: $note-background;
    border-radius: 5px;
  }
  &__title {
    color: $white-color;
    margin-bottom: 5px;
    min-height: 28px;
  }
  &__description {
    display: flex;
    align-items: center;
  }
  &__time {
    color: $white-color;
    margin-right: 10px !important;
  }
  &__text {
    color: $base-color;
  }
}
