$sidebar-background: #1e2323;

$topbar-right-background: #1e1e23;

$main-background: #1e1e1e;

$note-background: #46464f;

$base-color: #9aa1a1;
$white-color: #fff;
$disabled-color: #545657;

$note-border: #35363a;
