@import "./../../../../styles/constants.scss";

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10%;
  padding: 10px;
}

.button {
  color: $base-color !important;
  &:disabled {
    color: $disabled-color !important;
  }
}
